/*  CSS TESTING FOR LANDING PAGE */

body {
    background-color: #343a40;
}

img {
    max-width: 200px;
    max-height: 200px;
}

.monthList {
    padding-top: 4px;
    margin-left: 40px;
}

.container {
    width: 100%;
}

.row {}

.col-sm-3 {}

.navbar-brand {
    padding-right: 2em;
    font-size: 36px;
}

.nav-item {
    padding-top: 15px
}

#mov-container {
    padding: 20px;

    background-color: white;
}

#mov-content{
    border: 1px solid black;
    padding: 10px;
    margin: 10px 20px;
}

.mov-content-head {
    margin-left: 40px;
    margin-bottom: 20px;
}